
* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}



    body {
        width: 100vw;
        height: 100vh;
        font-family: 'Big Shoulders Display', cursive;
        font-family: 'Outfit', sans-serif;
       
        
    }

    .main-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }

    .hero-img-tablet {
        display: none;
    }

    .hero-img-desktop {
        display: none;
    }

    .top-section-black-box {
        display: none;
    }

    .top-section-h1-desktop {
        display: none;

    }

    .main-img-1-desktop {
       display: none;
    }

    .main-img-2-desktop {
        display: none;
    }

    .main-img-3-desktop {
        display: none;
    }

    .main-text-box h3 {
        display: none;
    }

    .hero-img-mobile {
        width: 100%;
        
    }
   
    .top-section-box {
        margin: 32px auto 120px 16px;
        display: flex;
        flex-direction: column;
        gap: 32px;
       
    }

    .top-section h1 {
        height: 110px;
        width: 343px;
        font-size: 60px;
        font-weight: 900;
        line-height: 55px;
        letter-spacing: 0px;
        text-align: left;
        font-family: Big Shoulders Display;
        white-space: pre-line;
       
    }
    
    .top-section p {
        height: 112px;
        width: 343px;
        font-family: Outfit;
        font-weight: 300;
        line-height: 28px;
        letter-spacing: 0px;
        text-align: left;
        font-size: 18px;


    }


    /* button */
    
    
    button {
        cursor: pointer;
        display: inline-block;
        background: linear-gradient(to right, #151515 80%, #d5966c 20%);
        border: none;
        width: 264px;
        height: 72px;
        font-family: 'Big Shoulders Display';
        font-size: 20px;
        font-weight: 800;
        padding: 0 0 0 15px;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 3.63636px;
        line-height: 1.2;
        text-align: centre;
        text-decoration: none;
     
    }
    
    /* button:active {
        background: linear-gradient(to right, #d5966c 80%, #151515 20%);
    } */
    
    button:hover {
        background: linear-gradient(to right, #d5966c 80%, #151515 20%);
    }
    
    button img {
    
        padding: 0 0px 0 50px;
    }
    
    /* middle section*/

    .middle-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    .main-img-1-tablet {
          display: none;
    }
    .main-img-2-tablet {
        display: none;
    }
    .main-img-3-tablet {
        display: none;
    }
    
    .main-text-box h2 {
        height: 90px;
        font-family: Big Shoulders Display;
        font-size: 50px;
        font-weight: 900;
        line-height: 45px;
        letter-spacing: 0px;
        text-align: left;
        color: #151515;
        width: 343px;
        text-transform: uppercase;
        margin: 25px auto 21px ;
        white-space: pre-line;
    }

    .main-text-box p {
        height: 112px;
        font-family: Outfit;
        font-size: 18px;
        font-weight: 300;
        line-height: 28px;
        letter-spacing: 0px;
        text-align: left;
        width: 343px;
        color: #444444;
        margin-bottom: 32px;
    }

    
    .black-box {
        background-color: #151515;
        width: 100%;
        height: 293px;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    
    .black-box h3 {
        color: #FFFFFF;
        height: 90px;
        font-family: Big Shoulders Display;
        font-size: 50px;
        font-weight: 900;
        line-height: 45px;
        letter-spacing: 0px;
        text-align: left;
        width: 295px;

    }
    .black-box p {
        height: 84px;
        width: 295px;
        left: 0px;
        top: 114px;
        border-radius: nullpx;
        color: #FFFFFF;
        font-family: Outfit;
        font-weight: 300;
        line-height: 28px;
        letter-spacing: 0px;
        text-align: left;
        font-size: 18px;

    }
    
    .main-img-3 {
        margin: 1rem auto 1rem ;
    }
    
    
    /* footer */
    
    footer {
        width: 375px;
        background-color: #151515;
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
        padding-bottom:0 ;
        margin-top: 120px;
        
    }
    
    footer h4 {
        color: #FFFFFF;
        font-family: 'Big Shoulders Display', cursive;
        font-size: 25px;
        text-transform: uppercase;
        height: 40px;
        width: 110.0499038696289px;
        margin-left: 32px;
        margin-top: 48px;
    
    }
    
    
    footer p {
        color: #FFFFFF;
        font-size: 16px;
        font-weight: 300;
        line-height: 26px;
        font-family: 'Outfit', sans-serif;
        margin-top: 38px;
        margin-left: 32px;
        margin-right: 32px;
    
    }
    
    .icons {
        display: flex;
        flex-direction: row;
        margin-top: 36px;
        margin-left: 32px;
        margin-bottom: 48px;
    }
    
    .instagram {
        margin-left: 20px;
    }
    
    .twitter {
        margin-left: 20px;
    }
    
 @media only screen and (min-width: 600px) {
 
   .top-section {
     
     display: flex;
     flex-direction: row; 
    
   }

    .hero-img-mobile {
        display: none;
    }

    .hero-img-desktop {
        display: none;
    }

    .top-section-black-box {
        display: none;
    }

    .top-section-h1-desktop {
        display: none;
    }

    .main-img-1-desktop {
        display: none;
    }

    .main-img-2-desktop {
        display: none;
    }

    .main-img-3-desktop {
        display: none;
    }

    .main-text-box h3 {
        display: none;
    }

    .hero-img-tablet {
       display: inline-block;
       width: 100%;
       
    }
    .top-section-box {  
        margin-right: 40px;
        margin-bottom: 0;
        margin-top: 145px;
        display: flex;
        flex-direction:column ;   
        gap: 48px;
        z-index: 1;
        margin-left: -50px;
        
    }
    .top-section h1 {
        width: 339px;
        height: 130px;
        font-family: Big Shoulders Display;
        font-size: 70px;
        font-weight: 900;
        line-height: 65px;
        letter-spacing: 0px;
        text-align: left;
        white-space: pre-line;
        
    }

    .top-section-box p {
        height: 112px;
        width: 339px;
        
    }

    /* middle section */


    .middle-section {
        
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-end;
            margin: 120px 0px 120px 0px;
            gap: 11px;
            
            
    }

    .main-text-box {
        display: flex;
        flex-direction: column;
        width: 221px;
        order: -1;
        margin-left: 39px;
        gap: 24px;
        
    }

    .main-text-box h2 {
        height: 135px;
        left: 0px;
        top: 0px;
        border-radius: nullpx;
        font-family: Big Shoulders Display;
        font-size: 50px;
        font-weight: 900;
        line-height: 45px;
        letter-spacing: 0px;
        text-align: left;
        color: #151515;
        width: 223px;
        margin-bottom: 0;
        margin-left: 0;
        margin-top: 0;

    }
    .main-text-box p {
        height: 140px;
        width: 223px;
        font-size: 18px;
        font-weight: 300;
        line-height: 28px;
        letter-spacing: 0px;
        text-align: left;
        font-family: Outfit;
        color: #444444;
        margin: 0;
        
    }

.img-3-and-black-box{
    display: flex;
    gap: 10px;
    flex-direction: column;
    
}


    .black-box {
        height: 396px;
        width: 280px;
        
       
    }
    .black-box h3 {
        height: 90px;
        width: 223px;
        font-family: Big Shoulders Display;
        font-size: 50px;
        font-weight: 900;
        line-height: 45px;
        letter-spacing: 0px;
        text-align: left;
        color: White;
        margin-bottom: 24px;
        margin-left: 29px;
    
    }
    .black-box p {
        height: 112px;
        width: 223px;
        font-family: Outfit;
        font-weight: 300;
        line-height: 28px;
        letter-spacing: 0px;
        text-align: left;
        color: White;
        font-size: 18px;
        margin-left: 29px;
    
    }

    .main-img-1 {
        display: none;
    }

    .main-img-1-tablet {
        display: inline-block;
        margin-left: 58px;
        margin-right: 40px;
        gap: unset;
    }

    .main-img-2 {
        display: none;
    }

    .main-img-2-tablet {
        display: inline-block;
        margin-left: 39px;
    }
    .main-img-3 {
        display: none;
    }

    .main-img-3-tablet {
        display: inline-block;
        margin-right: 40px;
        align-self: flex-start;
     
    }

    


    footer {
        height: 216px;
        width: 768px;
        margin-top: 0;
        display: flex;
        flex-direction: row;
       
    }
    footer h4 {
        margin-left: 39px ;
        margin-top:56px ;
    }
    footer p {
        width: 281px;
        left: 175px;
        top: 0px;
        border-radius: nullpx;
        height: 104px;
        margin-left: 65px;

    }
    .icons {
        width: 100px;
        height: 20px;
        margin-top:56px ;
        margin-right: 40px;
        margin-left: 135px;
    }
  
}

    

@media only screen and (min-width: 900px) {


    .main-container {
        width: 1440px;
        
    }
   

    .hero-img-tablet {

        display: none;
    }

    .top-section-box h1 {
       display: none;
    }

    .hero-img-desktop {
        display: inline-block;

    }

    .top-section-black-box {
        display: inline-block;
        width: 450px;
        height: 799px;
        background-color: #151515;
        
    }
    .top-section-h1-desktop {
        
        display: inline-block;
        position: absolute;
        
        width: 514px;
        left: 165px;
        top: 190px;
        border-radius: nullpx;
        
        font-family: Big Shoulders Display;
        font-size: 96px;
        font-weight: 900;
        line-height: 88px;
        letter-spacing: 0px;
        text-align: left;
        margin-left: -140px;
        height: 176px;

        



        white-space: pre-line;
        mix-blend-mode: difference;
        color: #FFFFFF;
        left: 21%;
        top: 20%;

    }

    .top-section-box {
        display: flex;
        gap: 64px;
        margin-top: 190px;
        margin-right: 164px;
        margin-left: -65px;
    }

    .top-section-box p {
        width: 350px;
        
        font-family: Outfit;
        font-size: 22px;
        font-weight: 300;
        line-height: 32px;
        letter-spacing: 0px;
        text-align: left;
        color: #444444;
        margin: 0;
        height: 160px;


    }

    /* middle section */

    .middle-section {
        display: flex;
        justify-content: flex-start;
        margin-left: 165px;
        gap: 30px;
        /* margin-right: 164px; */
    }
   
    .main-text-box {
        width: 320px;
        margin-left: 0;
        gap: 32px;
        
     }
 
     .main-text-box h2 {
 
         display: none;
     }
      
 
     .main-text-box h3 {
 
         display: inline-block;
         width: 350px;
         height: 120px;
         font-family: Big Shoulders Display;
         font-size: 60px;
         font-weight: 900;
         line-height: 60px;
         letter-spacing: 0px;
         text-align: left;
         text-transform: uppercase;
         
 
 
     }
 
     .main-text-box p {
 
         width: 350px;
         font-family: Outfit;
         font-size: 22px;
         font-weight: 300;
         line-height: 32px;
         letter-spacing: 0px;
         text-align: left;
         height: 128px;
         color: #444444;
         
         
     }

    .main-img-1-tablet {
        display: none;
    }

    .main-img-2-tablet {
        display: none;
    }

    .main-img-3-tablet {
        display: none;
    }

    .main-img-1-desktop {
        display: inline-block;
        margin-right: 165px;
        margin-left: 125px;
    }

    .main-img-2-desktop {
        display: inline-block;
    }
    
    .main-img-3-desktop {
        display: inline-block;
    }

    .black-box {
        width: 445px;
        height: 377px;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 32px;
     
      
    }

    .black-box h3 {
        width: 350px;
        text-transform: uppercase ;
        margin-top: 64px;
        margin-left: 48px;
        
       
    }

    .black-box p {
        width: 350px;
        font-family: Outfit;
        font-size: 22px;
        font-weight: 300;
        line-height: 32px;
        letter-spacing: 0px;
        text-align: left;
        height: 96px;
        margin: 0;
        margin-left: 48px;
        
        
        
        
    }

    .img-3-and-black-box {
      gap: 30px;

    }


    


    footer {
        width: 1440px;
        

    }
     footer h4 {
         width: 159.57235717773438px;
         height: 58px;
         margin: 80px 140px auto 165px;

     }

     footer p {
         width: 430px;
         height: 84px;
         font-family: Outfit;
         font-size: 18px;
         font-weight: 300;
         color: #FFFFFF;
         margin-left: 0;
         margin-top: 70px;
         margin-right: 0;
     }

     .icons {
        margin-left: 280px;
        margin-top: 80px;
     }

}





   











































































































    
    
    